@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 54,134,255,255;
  --background-start-rgb: 54,134,255,255;
  --background-end-rgb: 54,134,255,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 99 102 241;
    --background-start-rgb: 99 102 241;
    --background-end-rgb: 99 102 241;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* global styles here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.btn-primary {
  padding: 4px;
  color: rgb(99 102 241 / 1);
  border: 1px solid rgb(99 102 241 / 1);
  border-radius: 4px;
  min-width: 70px;
  text-align: center;
}

.btn-primary:hover {
  background: rgb(99 102 241 / 1);
  color: white;
}

.card .card-title {
  color: rgb(99 102 241 / 1);
}

.selected_answer {
  background:  rgb(99 102 241 / 1);
}
.correct_answer {
  background: rgb(76, 237, 76) !important;
}
.incorrect_answer {
  background: rgb(255, 69, 69) !important;
}

/* Skeleton loader background with animated gradient */
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px; /* Optional: for rounded edges */
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
